
<button mat-raised-button (click)="addItem()" color="primary">Add Item</button>

<button mat-raised-button (click)="getItems()" color="primary">Get Items</button>

<table mat-table [dataSource]="testItems" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  

    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
   <!-- descrpition Column -->
    <ng-container matColumnDef="descrpition">
      <th mat-header-cell *matHeaderCellDef> descrpition </th>
      <td mat-cell *matCellDef="let element"> {{element.descrpition}} </td>
    </ng-container>
  
      
    <!-- action -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> action </th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button (click)="deleteItem(element.id)" color="warn">Delete</button> 
        <button mat-raised-button (click)="navigateUpdate(element.id)" color="primary">Update</button> 
        
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
